extends layout

block content
  div.content-header
    h1 About V/Line
    p V/Line schedules more than 1,997 train services each week between Melbourne and:
    ul
      li Geelong and Warrnambool 
      li Ballarat, Maryborough and Ararat
      li Bendigo, Swan Hill and Echuca
      li Seymour, Shepparton and Albury
      li Traralgon, Sale and Bairnsdale. 
  p More than 1,462 V/Line-branded coach services connect with the rail network and serve regional Victorian communities. Some of our coach services also link Victoria with South Australia, New South Wales and the Australian Capital Territory. Private sector operators provide all V/Line-branded coach services under the management of V/Line.
  br
  h3.section-header Fast Facts
  p Facts about V/Line
  ul
    li Rail network size: 3,540 route kilometres
    li Road coach network size: 9,284 route kilometres
    li Weekly services: 1,997 rail and 1,462 coach services
    li Patronage: 9 million customers in 2020 (affected by COVID-19 restrictions)
    li Total trains: 33 Locomotives, 88 V/Locities and 21 Sprinters. The locomotives move 133 carriages around Victoria. 
