extends layout

block content
  div.content-header
    h1 About V/Line
    p V/Line train services operate to and from Melbourne on the Geelong and Warrnambool lines in the south-west, Ballarat, Maryborough and Ararat in western Victoria, Bendigo, Swan Hill and Echuca in the north, Albury, Seymour and Shepparton in the north-east, and Traralgon and Bairnsdale in the state's east.
    p We cover the rest of Victoria with our extensive road coach network which links most cities and towns in regional Victoria.
  br
  h3.section-header Company Background
  p V/Line is currently operated by National Express Group Australia (V/Line Passenger) Pty Ltd (Receivers and Managers Appointed) (Administrators Appointed) "V/Line".
  p Between 1999 and 2001, V/Line customers have benefited from the addition of 140 extra services per week. The extra services have added more than 19,000 extra seats per week to regional Victoria, while additional increases in capacity on some services has added a further 5800 seats since November 2000.
  p With regular services to and from Melbourne operating throughout the day on all V/Line services, and special services to major sporting and cultural events, V/Line is an integral part of Victoria.
  
  h3.section-header Did You Know?
  p Did you know that V/Line:
  ul
    li Operates 1154 services a week?
    li Covered 6.2 million kilometres during service in 2002? and
    li Carried 7.65 million customers in 2002? 
  
  h3.section-header Fast Facts
  p Facts about V/Line
  ul
    li Rail network size: 1154 route kilometres
    li Road coach network size: 9284 route kilometres
    li Services each weekday: 199 (except Fridays when 203 services operate)
    li Saturday services: 92
    li Sunday services: 63
    li Total trains: 41 Locomotives and 21 Sprinters. The locomotives move 136 carriages around Victoria. 

  p * all figures current at January 2003. It is currently 2021. Go figure.
  
