extends layout

block content
  div.content-header
    h1 Standard Fares - 2021
    h3.section-header Fares Effective 1 January 2021
    p V/Line offers a competitive alternative to the car when travelling throughout regional Victoria. Below are our standard fares (all inclusive of GST), however V/Line also offers a range of special discount fares during off-peak times.
  br
  p For fares to the following regions, please click on these links for prices:
  ul
    li
      a(href='#sw-vic') South Western Victoria
      |  (Including Geelong)
    li
      a(href='#w-vic') Western Victoria
      |  (Including Ballarat)
    li
      a(href='#nw-vic') North Western Victoria
      |  (Including Maryborough &amp; Mildura)
    li
      a(href='#n-vic') Northern Victoria
      |  (Including Bendigo &amp; Swan Hill)
    li
      a(href='#ne-vic') North Eastern Victoria
      |  (Including Shepparton &amp; Albury)
    li
      a(href='#e-vic') Eastern Victoria
    |  (Including Traralgon &amp; Bairnsdale)
    li
      a(href='#se-vic') South Eastern Victoria
      |  (Including Leongatha &amp; Cowes)

  p For fares to the following regions, please click on these links for prices:
  ul
    li
      a(href='#w-melb') West of Melbourne
      |  (Including Deer Park, Wyndham Vale &amp; Melton)
      
  p Click 
    a(href='#interstate') here
    |  for interstate services.

  p.bold Fares shown here are for a return journey, are inclusive of GST and are 
    span.underline effective from 1 January 2001.
  p.bold V/Line fares from Melbourne to interstate destinations served by V/Line "Link" train / coach services.
  h3.section-header V/Line fares from Melbourne to major regional centres (one way fares) -
  
  h3.section-header#sw-vic South Western:
  table.vline-table
    thead
      tr
        td Location
        td Economy Full Fare
        td Economy Concession Fare
        td Off-Peak Saver Economy Full Fare
        td Off-Peak Saver Economy Concession Fare
    tbody
      tr
        td Geelong
        td $13.60
        td $6.80
        td $9.52
        td $4.76
      tr
        td Anglesea
        td $17.40
        td $8.70
        td N/A
        td N/A
      tr
        td Lorne
        td $23.80
        td $19.90
        td N/A
        td N/A
      tr
        td Apollo Bay
        td $30.80
        td $15.40
        td N/A
        td N/A
      tr
        td Colac
        td $22.20
        td $11.10
        td N/A
        td N/A
      tr
        td Warrnambool
        td $39.20
        td $19.60
        td N/A
        td N/A
      tr
        td Portland
        td $54.80
        td $31.60
        td N/A
        td N/A
      tr
        td Mt. Gambier
        td $51.60
        td $25.80
        td N/A
        td N/A
  p For details of off-peak fare availability see Off-Peak Saver ticket conditions below. 
  p Fares subject to change without notice.
  br
  h3.section-header#w-vic Western:
  table.vline-table
    thead
      tr
        td Location
        td Economy Full Fare
        td Economy Concession Fare
        td Off-Peak Saver Economy Full Fare
        td Off-Peak Saver Economy Concession Fare
    tbody
      tr
        td Bacchus Marsh
        td $4.50
        td $2.25
        td N/A
        td N/A
      tr
        td Ballarat
        td $22.60
        td $11.30
        td $15.82
        td $7.91
      tr
        td Ararat
        td $30.80
        td $15.40
        td N/A
        td N/A
      tr
        td Horsham
        td $43.40
        td $21.70
        td N/A
        td N/A
      tr
        td Hamilton
        td $41.00
        td $20.50
        td N/A
        td N/A
      tr
        td Warracknabeal
        td $45.60
        td $22.80
        td N/A
        td N/A
      tr
        td Hopetoun
        td $49.20
        td $24.60
        td N/A
        td N/A
  p For details of off-peak fare availability see Off-Peak Saver ticket conditions below. 
  p Fares subject to change without notice.
  br
  h3.section-header#nw-vic North Western:
  table.vline-table
    thead
      tr
        td Location
        td Economy Full Fare
        td Economy Concession Fare
        td Off-Peak Saver Economy Full Fare
        td Off-Peak Saver Economy Concession Fare
    tbody
      tr
        td Maryborough
        td $25.00
        td $12.50
        td N/A
        td N/A
      tr
        td Donald
        td $40.40
        td $20.20
        td N/A
        td N/A
      tr
        td Mildura
        td $56.40
        td $28.20
        td N/A
        td N/A
  p For details of off-peak fare availability see Off-Peak Saver ticket conditions below. 
  p Fares subject to change without notice.
  br
  h3.section-header#n-vic Northern:
  table.vline-table
    thead
      tr
        td Location
        td Economy Full Fare
        td Economy Concession Fare
        td Off-Peak Saver Economy Full Fare
        td Off-Peak Saver Economy Concession Fare
    tbody
      tr
        td Gisborne
        td $12.20
        td $6.10
        td $8.54
        td $4.27
      tr
        td Woodend
        td $13.60
        td $6.80
        td $9.52
        td $4.76
      tr
        td Daylesford
        td $13.80
        td $6.90
        td N/A
        td N/A
      tr
        td Castlemaine
        td $24.80
        td $12.40
        td $17.36
        td $8.78
      tr
        td Bendigo
        td $34.00
        td $17.00
        td $23.80
        td $11.90
      tr
        td Kerang
        td $40.40
        td $20.20
        td N/A
        td N/A
      tr
        td Swan Hill
        td $45.60
        td $22.80
        td N/A
        td N/A
      tr
        td Echuca
        td $30.80
        td $15.40
        td N/A
        td N/A
  p For details of off-peak fare availability see Off-Peak Saver ticket conditions below. 
  p Fares subject to change without notice.
  br
  h3.section-header#ne-vic North Eastern:
  table.vline-table
    thead
      tr
        td Location
        td Economy Full Fare
        td Economy Concession Fare
        td Off-Peak Saver Economy Full Fare
        td Off-Peak Saver Economy Concession Fare
    tbody
      tr
        td Kilmore East
        td $12.20
        td $6.10
        td $8.54
        td $4.27
      tr
        td Seymour
        td $18.20
        td $9.10
        td $12.74
        td $6.37
      tr
        td Shepparton
        td $26.60
        td $13.30
        td N/A
        td N/A
      tr
        td Numurkah
        td $30.80
        td $15.40
        td N/A
        td N/A
      tr
        td Cobram
        td $36.20
        td $18.10
        td N/A
        td N/A
      tr
        td Euroa
        td $22.20
        td $11.10
        td N/A
        td N/A
      tr
        td Benalla
        td $28.20
        td $14.10
        td N/A
        td N/A
      tr
        td Yarrawonga
        td $36.20
        td $18.10
        td N/A
        td N/A
      tr
        td Wangaratta
        td $33.40
        td $16.70
        td N/A
        td N/A
      tr
        td Bright
        td $41.00
        td $20.50
        td N/A
        td N/A
      tr
        td Wodonga
        td $41.00
        td $20.50
        td N/A
        td N/A
      tr
        td Albury
        td $41.00
        td $20.50
        td N/A
        td N/A
      tr
        td Mansfield
        td $30.80
        td $15.40
        td N/A
        td N/A
      tr
        td Eildon
        td $29.40
        td $17.40
        td $20.58
        td $10.29
      tr
        td Alexandra
        td $17.40
        td $8.70
        td N/A
        td N/A
  p For details of off-peak fare availability see Off-Peak Saver ticket conditions below. 
  p Fares subject to change without notice.
  br
  h3.section-header#e-vic Eastern:
  table.vline-table
    thead
      tr
        td Location
        td Economy Full Fare
        td Economy Concession Fare
        td Off-Peak Saver Economy Full Fare
        td Off-Peak Saver Economy Concession Fare
    tbody
      tr
        td Drouin
        td $18.20
        td $9.10
        td $12.74
        td $6.37
      tr
        td Warragul
        td $18.20
        td $9.10
        td $12.74
        td $6.37
      tr
        td Moe
        td $24.80
        td $12.40
        td $17.36
        td $8.68
      tr
        td Morwell
        td $29.40
        td $14.70
        td $20.59
        td $10.29
      tr
        td Traralgon
        td $31.80
        td $15.90
        td $22.26
        td $11.13
      tr
        td Maffra
        td $30.80
        td $15.40
        td N/A
        td N/A
      tr
        td Sale
        td $30.80
        td $15.40
        td N/A
        td N/A
      tr
        td Bairnsdale
        td $39.20
        td $19.60
        td N/A
        td N/A
      tr
        td Lakes Entrance
        td $43.40
        td $21.70
        td N/A
        td N/A
      tr
        td Orbost
        td $49.20
        td $24.60
        td N/A
        td N/A
  p For details of off-peak fare availability see Off-Peak Saver ticket conditions below. 
  p Fares subject to change without notice.
  br
  h3.section-header#se-vic South Eastern:
  table.vline-table
    thead
      tr
        td Location
        td Economy Full Fare
        td Economy Concession Fare
        td Off-Peak Saver Economy Full Fare
        td Off-Peak Saver Economy Concession Fare
    tbody
      tr
        td Korumburra
        td $15.80
        td $7.90
        td N/A
        td N/A
      tr
        td Leongatha
        td $17.40
        td $8.70
        td N/A
        td N/A
      tr
        td Yarram
        td $30.80
        td $15.40
        td N/A
        td N/A
      tr
        td Wonthaggi
        td $17.40
        td $8.70
        td N/A
        td N/A
      tr
        td Inverloch
        td $20.60
        td $10.30
        td N/A
        td N/A
      tr
        td Cowes
        td $15.80
        td $7.90
        td N/A
        td N/A
  p For details of off-peak fare availability see Off-Peak Saver ticket conditions below. 
  p Fares subject to change without notice.
  br
  h3.section-header V/Line fares from Melbourne to outer metropolitan stations:
  br
  h3.section-header#w-melb Western:
  table.vline-table
    thead
      tr
        td Location
        td Daily Myki (Full Fare)
        td 2 Hour Myki (Full Fare)
        td Daily Myki (Concession Fare)
        td 2 Hour Myki (Concession Fare)
    tbody
      tr
        td Ardeer
        td $9.00
        td $4.50
        td $4.50
        td $2.25
      tr
        td Deer Park
        td $9.00
        td $4.50
        td $4.50
        td $2.25
      tr
        td Rockbank
        td $9.00
        td $4.50
        td $4.50
        td $2.25
      tr
        td Melton
        td $9.00
        td $4.50
        td $4.50
        td $2.25
      tr
        td Tarneit
        td $9.00
        td $4.50
        td $4.50
        td $2.25
      tr
        td Wyndham Vale
        td $9.00
        td $4.50
        td $4.50
        td $2.25
  br
  br
  h3.section-header#interstate Interstate (Economy Fares):
  table.vline-table
    thead
      tr
        td Location
        td Single Adult
        td Return Adult
        td Single Concession
        td Return Concession
    tbody
      tr
        td Adelaide
        td $68.40
        td $136.80
        td $34.20
        td $68.40
      tr
        td Albury
        td $41.50
        td $82.00
        td $20.50
        td $41.00
      tr
        td Batemans Bay
        td $68.40
        td $136.80
        td $34.20
        td $68.40
      tr
        td Canberra
        td $68.40
        td $136.80
        td $34.20
        td $68.40
      tr
        td Merimbula
        td $62.40
        td $124.80
        td $31.20
        td $62.40
      tr
        td Mt. Gambier
        td $51.60
        td $103.20
        td $25.80
        td $51.60
      tr
        td Narooma
        td $68.40
        td $136.80
        td $34.20
        td $68.40
  br
  p For further information phone V/Line on 136 196. 
    br
    | Fare subject to change without notice. 
    br
    span.bold For details of Weekend Fares please call 136 196. 
  br
  br
  h3.section-header Off-Peak Saver Ticket conditions:
  p By travelling off-peak with V/Line, you can save up to 30% off the economy return fare. Off-Peak Savers are non-refundable. There are different Off-Peak Savers for certain days and times and for shorter or longer journeys.
  br
  p For train and coach schedules, please visit our 
    a(href='/timetables') Timetables
    |  page.
