doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"
html(lang='en-AU')
  head
    meta(charset='UTF-8')

    link(rel='stylesheet' href='/static/css/index.css')
  body
    div.top-content
      img(src='/static/img/collage.gif')
      div.links
        a(href='/about') About V/Line
        a(href='/map') Network Map
        a(href='/timetables') Timetables
        a(href='/fares') Standard Fares
        a() V/Line Annual Tickets
        a() V/Line Performance
        a() Bulletin Board
        a() Media Releases
        a() Feedback
        a() Links
    div.bottom-content
      p.further-info For further information please call 136 196
      div.smaller-links
        p
          a Privacy Statement
        p
          | | 
          a(href='/about') About V/Line
          |  | 
          a(href='/map') Network Map
          |  | 
          a(href='/timetables') Timetables
          |  | 
          a(href='/fares') Standard Fares
          |  | 
          br
          |  | 
          a() V/Line Annual Tickets
          |  | 
          a() V/Line Performance
          |  | 
          a() Bulletin Board
          |  | 
          a() Media Releases
          |  | 
          a() Feedback
          |  | 
          a() Links
          |  |
