extends layout

block content
  div.content-header
    h1 Network Map
    p V/Line serves regional Victoria with train links to Geelong, Warrnambool, Ballarat, Maryborough, Ararat, Bendigo, Swan Hill, Echuca, Albury, Seymour, Shepparton, Traralgon and Bairnsdale.
    p Our extensive service also has Victoria covered with most major towns and cities connected by our V/Line road coaches.
  br
  h3.section-header The V/Line network
  p (To be done in the future)
