extends layout

block content
  div.content-header
    h1 V/Line Passenger Service Timetables 
    p For public holiday and special event timetable information, please visit the bulletin board section on this website. 
    p All timetables are current
    p  Please phone 
      span.bold 136 196
      |  for further assistance. 
  br
  h3.section-header Timetables
  h4.section-header South West Victoria
  a Melbourne - Geelong - Waurn Ponds
